@charset 'utf-8';
@import "normalize.css";
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,700);

body, 
header, 
section, 
figure, 
img  {
  font-family: Open Sans, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 1em;
}
@mixin transition($transition) {
  -webkit-transition: $transition;
     -moz-transition: $transition;
      -ms-transition: $transition;
       -o-transition: $transition;
          transition: $transition;
}
@mixin transform($transform) {
  -webkit-transform: $transform;
     -moz-transform: $transform;
      -ms-transform: $transform;
       -o-transform: $transform;
          transform: $transform;
}
header figure
{
  max-width: 150px;
  margin: 1.2em 3em;
  padding: 0;
  @include transition(.75s);
}
footer figure
{
  max-width: 150px;
  margin: 3em auto;
  padding: 0;
  @include transition(.75s);
}  
  header figure:hover,
  footer figure:hover
  {
  @include transform(scale(1.5));
  @include transition(.75s);
  }

form
{
  color: grey;
  margin: 0;
}

  #nombre, #email, #telefono, #postal
  {
    min-width: 47.7%;
    padding: .7em 0 .7em .4em;
    margin: .1em auto;
    display: inline-block;
  }

  #direccion
  {
    min-width: 98%;
    padding: .7em 0 .7em .4em;
    margin: .1em auto;
    display: inline-block;
  }

.cantina
{
  background: #ef6b54;
  color: white;
  text-align: center;
  background-image: url("../images/grid_background.png"); 
  padding-bottom: 1em;

  &__pedido
  {
  width: 640px;
  margin: 0 auto;
  padding: 0;
  
    &--titulo
    {
      margin: 0;
      padding-top: .75em;
    }
    &--informacion
    {
      font-size: 1.4em;
      margin: 0 auto;
    }
    &--informacion2
    {
      font-size: 1.4em;
      display: none;
    }
  }
}

.calendario
{
  background: white;
  color: white;
  text-align: center;
  padding-bottom: 1em;

  &__mes
  {
    background: #57bbec;
  }
  &__semana
  {
    margin: 0;
    padding: 0;
  
    &--dia
    {
      background: #38393d;
      font-size: 2em;
      width: 1.7em;
      height: 1.7em;
      border-radius: 50%;
      display: inline-block;
      padding: 1px;
      margin: 10px 3px;
    }
    
    &--diaNum
    {
      background: #e1e1e3;
      font-size: 1.2em;
      vertical-align: middle;
      width: 1.8em;
      height: 1.8em;
      border-radius: 50%;
      display: inline-block;
      padding: .18em;
      margin: .2em .4em 0 .4em;
      color: #38393d;
    }
  }
}
  .borde_blanco_dia
  {
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
    height: 1.15em;
    width: 1.15em;
    padding: .2em;
  }
  .borde_blanco_dia:hover
  {
    background: #57bbec;
  }
  .borde_blanco_diaNum
  {
    width: 1.2em;
    height: 1.2em;
    padding: 0.2em;
    border-radius: 50%;
    border: 2px solid white;
    display: inline-block;
  }

.pedido
{
  background: #e1e1e3;
  color: black;
  text-align: center;
  padding-bottom: 1em;
  

  &__semana
  {
  width: 900px;
  margin: 0 auto;
  padding: 0;
  
    &--dia
    {
      max-width: 18%;
      font-size: 1.1em;
      border-right: 2px solid white;
      display: inline-block;
    }    
    &--dia #input
    {
      max-width: 90%;
    }
  }
}
.acompanante
{
  margin: .2em 0;
}

.without_border
    {      
      border: none;
    }

#delivery
  {
    background: #57bbec;
    max-width: 70%;
    margin: 0 auto;
  } 

.boton input {
  background: #ef6b54;
  font-size: 1.8em;
  color: white;
  width: 8.2em;
  padding: .4em 0;
  margin-top: .5em;
  border: none;
  @include transition(.3s);
} 
.boton input:hover {
  background: #57bbec;
  color: grey;
  @include transition(.3s);
}

.contacto
{
  border-bottom: 2px solid #EEEEEE;  
  font-size: 1.6em;  
  text-align: center;
  margin: 0 auto;
  width: 640px;
}
  .contacto a
  {
    text-decoration: none;
    color: grey;
    @include transition(.3s);
  }
  .contacto a:hover
  {
    background: #57bbec;
    padding: .8em 0;
    @include transition(.3s);
  }
  .contacto ul
  {    
    list-style-type:none;    
  }
  .contacto li
  {
    display: inline-block;
    margin: 0;
    padding: .8em 0;   
  }
  .contacto li:first-child
  {
    margin-right: 1em;
  }

@media screen and (max-width: 920px)
{
  .pedido__semana
  {
  max-width: 90%;  
  } 

  .pedido__semana--dia
  {
  min-width: 30%;
  border: none;
  }
}

@media screen and (max-width: 860px)
{
  .pedido__semana
  {
  max-width: 90%;  
  }
  .pedido__semana--dia
  {
  min-width: 34%;
  border: none;
  }
}

@media screen and (max-width: 680px)
{
  header figure
  {
    margin-left: 20%;
    @include transition(.75s);
  }
  .cantina__pedido, .pedido__semana, .contacto
  {
  max-width: 90%;  
  }

  .pedido__semana--dia
  {
  min-width: 90%;
  border: none;
  } 
  
  #nombre, #email, #telefono, #postal, #direccion
  {
    min-width: 98%;
  }
    .cantina__pedido--informacion
    {
      display: none;
    }
    .cantina__pedido--informacion2
    {
      display: inline;
    }
}
@media screen and (max-width: 495px)
{
  .cantina__pedido, .pedido__semana
  {
  min-width: 90%;
  border: none;
  }
  
  #nombre, #email, #telefono, #postal, #direccion
  {
    min-width: 97%;
  }     
}